@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
            .image1-content {
                /*display: inline;
                margin-top: 5%;
                word-spacing: 5px;
                //text-justify: auto;
                font-size: 15px;
                vertical-align: middle;
                text-align: justify;
                //display: inline-block;*/
                display: inline;
                margin-top: 5%;
                font-size: 15px;
                vertical-align: middle;
                text-align: justify;
                //text-justify: distribute;
            }
            .college-image{
                float:left;
                margin-right:5%;
                margin-bottom:2%;
                margin-top:5%;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <div class="college-image">
                <img src="~/Content/Images/clg_about_img1.jpg" alt="College view image"/>
            </div>
            <div>
            <p class="image1-content ">
                
                <br><h3 style="text-align:center">Know about us.</h3>
                The Engineering college stands out as a top, premier learning hub in India with the mission of imparting excellence in top quality technical education and research. The college recognises the top performers and meritorious engineering students with educational scholarships. A team of dynamic faculty, diverse student community and the state-of-art facilities available in the premises brand the institution as a querencia. Engineering education is provided at its best in this college.
                <br />

                The pedagogy followed in this top engineering college in Coimbatore equips our students to be on par with the latest technological developments. It creates a milieu which provides a platform for scholarly development, independent thinking and personal growth for the engineering students and also equips them with top employability skills, through practical training in the top industries which are indispensable to take their career growth a step higher.
                <br />
                Students at KIT, one of the top Engineering colleges in Coimbatore find themselves involved in both co-curricular and extra-curricular activities. The college provides equal opportunities in sports and fine arts to showcase their talents in addition to the engineering excellence thereby aiding in their overall development. Alumni’s valuable feedback is also taken to train our college students as per the top industrial requirements.
                <br />
                The college has signed MoU with research organizations and industries in order to promote closer interaction with other institutions in the areas of technology development, training of students, curriculum updating and development of state-of-art centres.
                <br /><br />

                <h2>Vision</h2>
                
                <p>To impart quality technical education emphasizing innovations and research with social and ethical values.</p>

                <hr />
                <h2>Mission</h2>

                <p>Provide world-class Engineering Education, foster Research and Development,
                evolve Innovative applications of Technology, encourage Entrepreneurship,
                ultimately mould young men and women capable of assuming Leadership of the
                society for the betterment of the country.</p>


            </p>
            </div>
        </div>
    </body>
</html>