
@{
    ViewBag.Title = "Courses";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Courses offered</th>
                </tr>
            </thead>
            <tbody>
                <h3>UG Program</h3>
                <tr>
                    <td>
                        B.E. Civil Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Computer Science and Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Computer Science and Engineering (CyberSecurity)
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Computer Science and Technology
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Electronics and Communication Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Electrical and Electronics Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Electronics and Telecommunications Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Mechanical Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        B.E. Computer Science and Design
                    </td>
                </tr>
                <tr>
                    <td>
                        B.Tech. Information Technology
                    </td>
                </tr>
                <tr>
                    <td>
                        B.Tech. Artificial Intelligence and Data Sciences
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
